<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DataBase\series.accdb;Persist Security Info=True"-->
        <add name="Lab_4_ADO.Properties.Settings.seriesConnectionString"
            
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Vlad\Documents\Visual Studio 2015\Projects\FlatManager\Lab_5_ADO\DataBase\series.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
      
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>